<div class="progress" style="height:3em; margin-bottom:20px;">
		<div class="progress-bar" style="width:0%"><strong><font size="+2">0%</font></strong></div>
	 </div><h3 style="display:inline;"><strong>Nº Sorteados</strong></h3> <h2 style="display:inline;">&nbsp;</h2>&nbsp;&nbsp;
<div class="table-responsive">
	<h4>Resultados por Jurisdicción y Género</h4>
	<table class="table">
		<thead>
			<tr class="btn-success">
				<th>Jurisdicción</th>
				<th style="text-align: right;">Femenino</th>
				<th style="text-align: right;">Masculino</th>
				<th style="text-align: right;">Cupo Jurisdicción</th>
			</tr>
		</thead>
		<tbody>		
			<tr>
				<td><strong>PARANÁ</strong></td>
				<td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>1000</strong></td>
			</tr>		
			<tr>
				<td><strong>LA PAZ</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>240</strong></td>
			</tr>		
			<tr>
				<td><strong>DIAMANTE</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>VICTORIA</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>NOGOYÁ</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>GUALEGUAY</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>TALA</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>URUGUAY</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>480</strong></td>
			</tr>		
			<tr>
				<td><strong>GUALEGUAYCHU</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>480</strong></td>
			</tr>		
			<tr>
				<td><strong>ISLAS DEL IBICUY</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>VILLAGUAY</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>CONCORDIA</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>640</strong></td>
			</tr>		
			<tr>
				<td><strong>FEDERAL</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>COLÓN</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>FELICIANO</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>FEDERACIÓN</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>SAN SALVADOR</strong></td><td align="right">0 / 0	</td><td align="right">0 / 0	</td> <td align="right"><strong>160</strong></td>
			</tr></tbody>
		<tfoot>
			<tr class="btn-primary">
				<td align="right"><strong>TOTALES</strong></td>
				<td align="right"><strong>0 / 0</strong></td>
				<td align="right"><strong>0 / 0</strong></td>
				<td align="right"><strong>5.000</strong></td>
			</tr>
		</tfoot>
	</table>
</div><figure class="highcharts-figure">
    <div id="container" style="height: 35em;"></div>
</figure>
<script>
Highcharts.chart('container', {
  title: {
    text: 'Precandidatos a Jurados por Sección y Género'
  },
  xAxis: {
    categories: ['PARANÁ','LA PAZ','DIAMANTE','VICTORIA','NOGOYÁ','GUALEGUAY','TALA','URUGUAY','GUALEGUAYCHU','ISLAS DEL IBICUY','VILLAGUAY','CONCORDIA','FEDERAL','COLÓN','FELICIANO','FEDERACIÓN','SAN SALVADOR']
  },
  labels: {
    items: [{
      html: 'Por Género',
      style: {
        left: '50px',
        top: '18px',
        color: ( // theme
          Highcharts.defaultOptions.title.style &&
          Highcharts.defaultOptions.title.style.color
        ) || 'black'
      }
    }]
  },
  series: [{
    type: 'column',
    name: 'Femenino',
    data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
  }, {
    type: 'column',
    name: 'Masculino',
    data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
  },  {
    type: 'spline',
    name: 'Total por Sección',
    data: [500,120,80,110,80,110,80,240,240,80,110,320,80,110,80,80,80],
    marker: {
      lineWidth: 2,
      lineColor: Highcharts.getOptions().colors[2],
      fillColor: 'white'
    }
  }, {
    type: 'pie',
    name: 'Total por Género',
    data: [{
      name: 'Femenino',
      y: 0,
      color: Highcharts.getOptions().colors[0] // Color femenino
    }, {
      name: 'Masculino',
      y: 0,
      color: Highcharts.getOptions().colors[1] // Color masculino
    }],
    center: [100, 80],
    size: 100,
    showInLegend: false,
    dataLabels: {
      enabled: false
    }
  }]
});
</script>