<div class="progress" style="height:3em; margin-bottom:20px;">
		<div class="progress-bar bg-success" style="width:100%"><strong><font size="+2">100%</font></strong></div>
	 </div><h3 style="display:inline;"><strong>Nº Sorteados</strong></h3> <h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">777</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">531</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">221</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">000</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">632</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">254</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">125</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">122</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">555</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">674</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">273</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">989</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">123</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">124</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">127</span></h2><h2 style="display:inline;"><span class="badge badge-primary" style="margin:3px;">345</span></h2>
<div class="table-responsive">
	<br><h4>Resultados por Jurisdicción y Género</h4>
	<table class="table">
		<thead>
			<tr class="btn-primary">
				<th>Jurisdicción</th>
				<th style="text-align: right;">Femenino</th>
				<th style="text-align: right;">Masculino</th>
				<th style="text-align: right;">Cupo Jurisdicción</th>
			</tr>
		</thead>
		<tbody>		
			<tr>
				<td><strong>PARANÁ</strong><br><span  class="text-muted">777, 531, 221, 000</span>
			</td><td align="right">500 / 500	</td><td align="right">500 / 500	</td> <td align="right"><strong>1000</strong></td>
			</tr>		
			<tr>
				<td><strong>LA PAZ</strong><br><span  class="text-muted">777, 531, 221, 000, 632</span>
			</td><td align="right">120 / 120	</td><td align="right">120 / 120	</td> <td align="right"><strong>240</strong></td>
			</tr>		
			<tr>
				<td><strong>DIAMANTE</strong><br><span  class="text-muted">777, 531, 221, 000, 632</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>VICTORIA</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125, 122</span>
			</td><td align="right">110 / 110	</td><td align="right">110 / 110	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>NOGOYÁ</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>GUALEGUAY</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254</span>
			</td><td align="right">110 / 110	</td><td align="right">110 / 110	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>TALA</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125, 122, 555</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>URUGUAY</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125</span>
			</td><td align="right">240 / 240	</td><td align="right">240 / 240	</td> <td align="right"><strong>480</strong></td>
			</tr>		
			<tr>
				<td><strong>GUALEGUAYCHU</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254</span>
			</td><td align="right">240 / 240	</td><td align="right">240 / 240	</td> <td align="right"><strong>480</strong></td>
			</tr>		
			<tr>
				<td><strong>ISLAS DEL IBICUY</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125, 122, 555, 674, 273, 989, 123, 124, 127, 345</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>VILLAGUAY</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254</span>
			</td><td align="right">110 / 110	</td><td align="right">110 / 110	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>CONCORDIA</strong><br><span  class="text-muted">777, 531, 221, 000, 632</span>
			</td><td align="right">320 / 320	</td><td align="right">320 / 320	</td> <td align="right"><strong>640</strong></td>
			</tr>		
			<tr>
				<td><strong>FEDERAL</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>COLÓN</strong><br><span  class="text-muted">777, 531, 221, 000, 632</span>
			</td><td align="right">110 / 110	</td><td align="right">110 / 110	</td> <td align="right"><strong>220</strong></td>
			</tr>		
			<tr>
				<td><strong>FELICIANO</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125, 122, 555, 674, 273, 989, 123, 124, 127</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>FEDERACIÓN</strong><br><span  class="text-muted">777, 531, 221, 000</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr>		
			<tr>
				<td><strong>SAN SALVADOR</strong><br><span  class="text-muted">777, 531, 221, 000, 632, 254, 125, 122, 555, 674, 273, 989</span>
			</td><td align="right">80 / 80	</td><td align="right">80 / 80	</td> <td align="right"><strong>160</strong></td>
			</tr></tbody>
		<tfoot>
			<tr class="btn-primary">
				<td align="right"><strong>TOTALES</strong></td>
				<td align="right"><strong>2.500 / 2.500</strong></td>
				<td align="right"><strong>2.500 / 2.500</strong></td>
				<td align="right"><strong>5.000</strong></td>
			</tr>
		</tfoot>
	</table>
</div><figure class="highcharts-figure">
    <div id="container" style="height: 35em;"></div>
</figure>
<script>
Highcharts.chart('container', {
  title: {
    text: 'Precandidatos a Jurados por Sección y Género'
  },
  xAxis: {
    categories: ['PARANÁ','LA PAZ','DIAMANTE','VICTORIA','NOGOYÁ','GUALEGUAY','TALA','URUGUAY','GUALEGUAYCHU','ISLAS DEL IBICUY','VILLAGUAY','CONCORDIA','FEDERAL','COLÓN','FELICIANO','FEDERACIÓN','SAN SALVADOR']
  },
  labels: {
    items: [{
      html: 'Por Género',
      style: {
        left: '50px',
        top: '18px',
        color: ( // theme
          Highcharts.defaultOptions.title.style &&
          Highcharts.defaultOptions.title.style.color
        ) || 'black'
      }
    }]
  },
  series: [{
    type: 'column',
    name: 'Femenino',
    data: [500,120,80,110,80,110,80,240,240,80,110,320,80,110,80,80,80]
  }, {
    type: 'column',
    name: 'Masculino',
    data: [500,120,80,110,80,110,80,240,240,80,110,320,80,110,80,80,80]
  },  {
    type: 'spline',
    name: 'Total por Sección',
    data: [500,120,80,110,80,110,80,240,240,80,110,320,80,110,80,80,80],
    marker: {
      lineWidth: 2,
      lineColor: Highcharts.getOptions().colors[2],
      fillColor: 'white'
    }
  }, {
    type: 'pie',
    name: 'Total por Género',
    data: [{
      name: 'Femenino',
      y: 2500,
      color: Highcharts.getOptions().colors[0] // Color femenino
    }, {
      name: 'Masculino',
      y: 2500,
      color: Highcharts.getOptions().colors[1] // Color masculino
    }],
    center: [100, 80],
    size: 100,
    showInLegend: false,
    dataLabels: {
      enabled: false
    }
  }]
});
</script>